<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<ul *ngIf="dataLoaded==true" class="list-group my-2">
    <li class="list-group-item text-center text-white bg-dark">COLORS</li>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Filter For Colors">
    <li (click)="setCurrentColor(item)" routerLink="/cars/color/{{item.colorId}}"
        *ngFor="let item of colors | colorFilterPipe:filterText" [class]="getCurrentColorClass(item)">{{item.colorName}}
    </li>
</ul>