<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="my-2">
    
    <!--
        <div class="col-md-5">
        <select [(ngModel)]="brandFilter" class="form-select bg-primary border-primary text-white" aria-label="Default select example">
          <option value="0" selected>Markalar</option>
          <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
        </select>
      </div>
      <div class="col-md-5">
        <select [(ngModel)]="colorFilter" class="form-select bg-primary border-primary text-white" aria-label="Default select example">
          <option value="0" selected>Renkler</option>
          <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <button (click)="getCarsByColorAndBrandIds(brandFilter,colorFilter)" class="btn btn-primary">Filtrele</button>
      </div>
      
    -->


    <select class="form-select my-2" aria-label="Default select example">
        <option *ngFor="let item of brands">{{item.brandName}}</option>
    </select>
    <select class="form-select" aria-label="Default select example">
        <option *ngFor="let item of colors">{{item.colorName}}</option>
    </select>
    <button type="button" class="btn btn-warning my-2">Filter</button>


    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Filter For Cars">
    <table *ngIf="dataLoaded==true" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand Name</th>
                <th>Color Name</th>
                <th>Model Year</th>
                <th>Daily Price</th>
                <th>Description</th>
            </tr>
        </thead>

        <tr (click)="setCurrentCar(item)" routerLink="/carDetail/{{item.carId}}"
            *ngFor="let item of cars | carFilterPipe:filterText">
            <td>{{item.carId}}</td>
            <td>{{item.carName}}</td>
            <td>{{item.brandName}}</td>
            <td>{{item.colorName}}</td>
            <td>{{item.modelYear}}</td>
            <td>{{item.dailyPrice | currency}}</td>
            <td>{{item.description}}</td>
        </tr>
    </table>
</div>